{% extends 'all-instagram/base.html' %}

{% block content %}
{{block.super}}
<html>
    <head>
            <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <boby>
            

            <div class="container" id="index"   >
                    <div class="row" >
                          
                              
                        <h1> WELCOME TO INSTAGRAM</h1>

                        


                       
        {% for im in images%}
        
        <div class="col-md-3" id="im"> 
        <a href="/instagram/comments\{{im.id}}"> <img src="{{im.image.url}}"  class="img-responsive" alt="" ><br></a>
         
         <p>Name:{{im.image_name}}</p>
         <p>Caption:{{im.image_caption}}</p>
          <p>Post-Date:{{im.post_date}}</p>
        
       
</div> 
    {%endfor%}


</div>
</div>
</boby>
</html>
{% endblock %}
