.navbar{
    background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSR146ARr6Mlzw2vT3wWp0xc_FKPNVJPGqdKDIaepidPMlmkT1rwg);
    
    background-repeat: no-repeat;
    background-position: right top;
    padding:1%;
    background-color: skyblue;
}
body{
  background-image:url(https://images.pexels.com/photos/134074/pexels-photo-134074.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);  
  background-repeat: repeat-x;
  background-size:cover;
}
h1{
    text-align:center;
    background-color:gray;
    margin-left:6%;
    margin-right:10%;
    padding:2%;
    width:90%;
}
/* .dropdown{
    text-align:right;
    color:maroon;
    font-size:150%;
    margin-left:180%;
} */
.navbar-right{

    font-size:150%;
    color:maroon;
}
#im{
    margin-left:6%;
    background-color: antiquewhite;
    margin-bottom:5%;
    
}
#index{
    background-color:rgb(61, 2, 2);
    width:50%;  
   
}
#prof{

    margin-left:20%;
    background-color:gray;
    margin-bottom:5%;
    width:60%;
    height:40%;
}
#imge{
    width:100%;
}
h2{
text-align: center;
color:maroon;

}

#imj{
    background-color:gray;
    color:white;
    margin-top:15%;
}
#come{
    background-color:beige;
    color:skyblue;
    width:70%;
    margin-left:3%;
}

