.navbar{
    background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSR146ARr6Mlzw2vT3wWp0xc_FKPNVJPGqdKDIaepidPMlmkT1rwg);
    
    background-repeat: no-repeat;
    background-position: right top;
    padding:1%;
    background-color: skyblue;
}
body{
  background-image:url(https://images.pexels.com/photos/134074/pexels-photo-134074.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);  
  background-repeat: repeat-x;
  background-size:cover;
}
h1{
    text-align:center;
    background-color:gray;
    margin-left:2%;
    margin-right: 1%;
    padding:2%;
    width:80%;
}
/* .dropdown{
    text-align:right;
    color:maroon;
    font-size:150%;
    margin-left:180%;
} */
.navbar-right{

    font-size:150%;
    color:maroon;
}
#im{
    margin-left:2%;
    background-color: antiquewhite;
    
}
